dl.svelte-1sq4o2n.svelte-1sq4o2n {
	display: grid;
	grid-template-columns: max-content auto;
	column-gap: 2rem;
	row-gap: 1rem;
	margin-top: 1rem;
}
dl.svelte-1sq4o2n dt.svelte-1sq4o2n {
	margin-top: 0;
}
